<div class="container-sm">
  <h2 class="text-center my-3">Pokémon Search</h2>
  <form id="search-form" class="mb-4" style="max-width: 25rem; margin: 0 auto">
    <div class="input-group">
      <input
        type="text"
        id="pokemon-name"
        class="form-control"
        placeholder="Ingrese el nombre del Pokémon"
      />
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <div id="pokemon-details" style="max-width: 30rem; margin: 0 auto"></div>
</div>
